body {
  background-color: #f8f9fa;
  color: #212529;
  font-family: Arial, sans-serif;
}

.btn-custom {
  background-color: #0d6efd;
  color: white;
  border: none;
}
.btn-custom:hover {
  background-color: rgb(1.762295082, 87.2336065574, 213.237704918);
}
